<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
	<testsuites>
		<testsuite name="StreamsTests">
			<file>stream-tests/FileInputStreamTest.php</file>
			<file>stream-tests/FileOutputStreamTest.php</file>
			<file>stream-tests/MemoryStreamTest.php</file>
		</testsuite>
		<testsuite name="SocketTests">
			<file>socket-tests/ClientSocketTest.php</file>
			<file>socket-tests/ServerSocketTest.php</file>
		</testsuite>
		<testsuite>
			<file>logger-tests/SimpleLoggerTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>